*{
    background-color: green; 
}
.container{
    text-align: center;
    color: aliceblue;
    background-color:white;
    padding: 15px;
}
.movie-card {
    border: 1px solid #ddd;
    width: 350px;
    margin: 50px;
    border-radius:30px;
    margin-left:38%; 
  }
.movie{
    margin:10px;
    border: 2px solid pink;
    border-radius: 10px;
    box-shadow: 10px 15px 15px rgba(0,0,0,0.25) ;
  }